body{
  margin: 0;
  padding: 0;
    background: url('img/cork.jpg');
}

.board {
  height: 500px;
  width: 100%;
  position: relative;

}

.note{
  position: absolute;
}

.note h2,p{
  font-size:100%;
  font-weight:normal;
}
 ul.note, ul.note li{
  list-style:none;
}
ul.note{
  overflow:hidden;
  padding:0;
}

ul.note li {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  min-height:10em;
  min-width:10em;
  padding:1em;
}
ul.note li{
  margin:0;
  float:left;
}

ul.nav-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav-horizontal li {
    float: left;
}

ul.nav-horizontal li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-horizontal li a:hover{
    background-color: #111;
}
