body{
  margin: 0;
  padding: 0;
    background: url('img/cork.jpg');
}

.board {
  height: 500px;
  width: 100%;
  position: relative;

}

.note {
  position: absolute;
  background-color: yellow;

}

.text-editable{
  cursor: text
}

.note textarea{
  background: yellow;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

ul.note,
ul.note > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.nav-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav-horizontal li {
    float: left;
}

ul.nav-horizontal li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-horizontal li a:hover{
    background-color: #111;
}
